@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col -12">
                    <h1>Benvenuti nella nostra Pizzeria</h1>
                    <h2>Di seguito troverai il nostro menù di scelta</h2>
                </div>
            </div> 
        </div>
    </head>
    <body>
        <div class="row">
            <div class="col-4">
                    <img src="~/img/Pizza margherita.jpg" alt="Immagine Margherita" />
                    <strong><p>MARGHERITA</p></strong>
                    <p>Pizza margherita classica condita con pomodoro, mozzarella, basilico fresco, sale e olio</p>
                    <strong><p>8€</p></strong>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-4">
                    <img src="~/img/diavola.jpg" alt="Immagine Diavola" />
                    <strong><p>DIAVOLA</p></strong>
                    <p>Diavola classica con pomodoro, mozzarella, grana grattugiato, olive nere, basilico e pezzettini di salame piccante</p>
                    <strong><p>8€</p></strong>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-4">
                    <img src="~/img/Capricciosa.jpg" alt="Immagine Capricciosa" />
                    <strong><p>CAPRICCIOSA</p></strong>
                    <p>Capricciosa con condimento di pomodoro, mozzarella, prosciutto cotto, funghi, olive verdi e nere, e carciofini e uova.</p>
                    <strong><p>8,50€</p></strong>
                </div>
            </div>
        </div>
         <div>
            <div class="row">
                <div class="col-4">
                    <img src="~/img/4 stagioni.jpg" alt="Immagine 4 stagioni" />
                    <strong><p>4 STAGIONI</p></strong>
                    <p>i funghi rappresentano l'autunno, il prosciutto e le olive corrispondono all'inverno, i carciofi figurano la primavera ed infine i pomodori e il basilico l'estate. </p>
                    <strong><p>8,50€</p></strong>
                </div>
            </div>
        </div>
    </body>
</html>









